body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 70%;
  border-radius: 40px;
  margin-top: 2em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007BFF;
}

.mylogo {
  /* position: absolute;
  left: 46%;
  transform: translateX(-50%);
  transform: translateY(-50%); */
  display: flex;
  justify-content: left;
}

.mylogo img {
  max-height: 50px;
  margin-left: 40%;
}

.joinuss {
  display: flex;
  align-items: center;
}

.joinuss img {
  max-height: 40px;
  transition: transform 0.3s ease;
}

.joinuss img:hover {
  transform: scale(1.1);
}