header {
    background-color: whitesmoke;
    color: black;
    /* padding: 20px; */
    position: absolute;
    width: 100vw;
    height: 82px;
    top: 0;
    left: 0;
    justify-content: center;
}

.logo img {
    width: 216px;
    height: 92.23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-color: whitesmoke;
    color: black;
    /* padding: 10px; */
    text-align: center;
    position: absolute;
    width: 99.4%;
    height: 37px;
    bottom: 0;
}

footer div {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    margin-right: 145px;
    margin-left: 5px;
}

footer div:last-child {
    margin-right: 0;
}

.content {
    margin-top: 85px;
    text-align: right;
}

.login-btn {
    text-decoration: none;
}